<h1>hello world from hello</h1>

<% @array.each do |n| %>
	<%= n %> <br />
	<% end %>

<%= link_to('Index Page', {:action => 'index'}) %>

ID: <%= @id %>
ID: <%= params[:id] %>
Page: <%= params['page'] %>